body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

header {
    font-weight: bold;
}

.searchbox {
    float: right;
    padding: 6px;
    margin: 12px 12px;
    width: 300px;
}

.header-logo {
    float: left;
    margin-right: 12px;
}

.header-logo>img {
    height: 60px;
    width: 60px;
}

#main-header {
    height: 90px;
}

#header-name {
    font-size: 48px;
    color: #9e7a62;
    padding: 12px;
    margin: 6px 0px;
    font-weight: bold;
}

nav {
    height: 48px;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 18px;
    padding-left: 6px;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav ul li {
    display: block;
}

.background-gradient {
    color: beige;
    background: linear-gradient(to right, #c09a59, #62260e);
    background: -webkit-linear-gradient(left, #c09a59, #62260e);
    background: -o-linear-gradient(right, #c09a59, #62260e);
    background: -moz-linear-gradient(right, #c09a59, #62260e);
}

.nav-link {
    height: 36px;
    margin-right: 12px;
    font-size: 18px;
    float: left;
    padding-top: 12px;
    color: beige;
    text-decoration: none;
}

section {
    margin-top: 6px;
}

.add-to-cart-btn {
    cursor: pointer;
    padding: 6px 24px;
    background: #8e5c31;
    border: 1px solid #62260e;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .75);
    color: #f6e4cc;
    font-size: 0.8em;
    font-weight: bold;
    width: 72px;
}

.add-to-cart-btn:hover, .add-to-cart-btn:focus {
    background-color: #c09a59;
    box-shadow: 0 0 2px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .75);
}

#welcome-img {
    float: left;
    width: 700px;
}

#coffee-of-the-month {
    float: right;
    width: 300px;
}

#welcome-txt {
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    column-width: 200px;
    column-gap: 40px;
}

#welcome-txt>header {
    color: #5a1800;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

#events {
    float: right;
    width: 30%;
    margin-top: 24px;
    margin-bottom: 24px;
}

#events>header {
    margin-left: 12px;
    color: #5a1800;
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

#events>ul {
    list-style: none;
}

#events>ul>li {
    margin-bottom: 6px;
}

#bestsellers {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 24px;
}

#bestsellers>header {
    color: #603813;
    font-size: 18px;
    font-weight: bold;
}

.coffee-bestsellers {
    float: left;
}

.coffee-bestsellers>header {
    background-color: #603813;
    color: beige;
    padding-left: 12px;
}

.accessories-bestsellers {
    clear: both;
}

.accessories-bestsellers>header {
    height: 30px;
    line-height: 30px;
    background-color: #603813;
    color: beige;
    padding-left: 10px;
}

.product-article {
    width: 200px;
    float: left;
    margin-left: 24px;
    margin-bottom: 12px;
}

.product-article-thumbnail {
    width: 100px;
    height: 150px;
}

.product-article-name {
    font-size: 18px;
    color: #603813;
    font-weight: bold;
}

.product-article-price {
    font-size: 15px;
    color: green;
    font-weight: bold;
    padding-top: 18px;
}

.product-article-more-info {
    font-size: 12px;
    color: #603813;
    margin-top: 6px;
}

footer {
    clear: both;
    width: 100%;
    color: beige;
    background-color: #ab8048;
    margin: 24px 0px 24px;
    padding: 6px;
}

.small-txt {
    font-size: 10px;
}

/*All coffees page styles*/

.block-header {
    font-size: 36px;
    margin-top: 18px;
    margin-bottom: 12px;
}

.prod-article-wide {
    width: 100%;
    float: left;
}

.prod-article-wide-thumbnail {
    width: 100px;
    height: 150px;
    float: left;
    margin: 18px;
}

.prod-article-wide-content {
    width: 80%;
    float: right;
}

.prod-article-wide-description {
    text-wrap: normal;
}

.prod-article-wide-name {
    font-size: 18px;
    color: #603813;
    font-weight: bold;
    margin-top: 6px;
}

.prod-article-wide-price {
    font-size: 18px;
    color: green;
    font-weight: bold;
    padding-top: 15px;
}

.all-coffee {
    float: left;
    width: 750px;
}

#shopping-cart {
    float: left;
    width: 175px;
}

/*Coffee detail page*/

.coffee-details {
    float: left;
    width: 1000px;
}

.prod-article-large-img {
    width: 200px;
    height: 300px;
}

.prod-article-large-figure {
    float: left;
    margin: 12px;
}

.prod-article-content {
    width: 75%;
    float: right;
}

.prod-article-description {
    text-wrap: normal;
}

.prod-article-price {
    font-size: 24px;
    color: green;
    font-weight: bold;
    padding-top: 18px;
}

.coffee-video-player {
    width: 320px;
    height: 240px;
}

/*Contact page styles*/

.map-to-store {
    float: left;
    width: 1000px;
}

#map {
    float: left;
    width: 100%;
    height: 800px;
    margin: 6px;
}

#driving-directions {
    float: left;
}

/*Checkout page*/

.text-label {
    text-align: left;
    font-size: 14px;
    margin: 0px;
    display: block;
    width: 240px;
    padding: 2px 5px;
    float: left;
}

.text-input {
    width: 300px;
    height: 24px;
    border: 1px solid #888888;
}

fieldset {
    padding: 0px;
    border: none;
}

fieldset>div {
    border: 2px solid #888888;
}