body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

header {
    font-weight: bold;
}

.searchbox {
    float: right;
    padding: 6px;
    margin: 12px 12px;
    width: 300px;
}

.header-logo {
    float: left;
    margin-right: 12px;
}

    .header-logo > img {
        height: 60px;
        width: 60px;
    }

#main-header {
    height: 90px;
}

#header-name {
    font-size: 48px;
    color: #9e7a62;
    padding: 12px;
    margin: 6px 0px;
    font-weight: bold;
}

nav {
    height: 60px;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 18px;
    padding-left: 6px;
}

    nav ul {
        list-style: none;
        padding: 0px;
    }

    nav ul li {
        display: block;
    }

.background-gradient {
    color: white;
    background: linear-gradient(to right, #c09a59, #62260e);
    background: -webkit-linear-gradient(left, #c09a59, #62260e);
    background: -o-linear-gradient(right, #c09a59, #62260e);
    background: -moz-linear-gradient(right, #c09a59, #62260e);
}

.nav-link {
    height: 36px;
    margin-right: 12px;
    font-size: 18px;
    float: left;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}

section {
    margin-top: 6px;
}

.add-to-cart-btn {
    cursor: pointer;
    padding: 6px 24px;
    background: #8e5c31;
    border: 1px solid #62260e;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    box-shadow: 0 0 6px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 6px rgba(0,0,0, .75);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .75);

    color: #f6e4cc;
    font-size: 0.8em;
    font-weight: bold;
    width: 72px;
}

    .add-to-cart-btn:hover, .add-to-cart-btn:focus {
        background-color: #c09a59;
        box-shadow: 0 0 2px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 2px rgba(0,0,0, .75);
        -webkit-box-shadow: 0 0 2px rgba(0,0,0, .75);
    }

#welcome-img {
    float: left;
    width: 700px;
}

#coffee-of-the-month {
    float: right;
    width: 300px;
}

#welcome-txt {
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}

    #welcome-txt > header {
        color: #5a1800;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
    }

#events {
    float: right;
    width: 30%;
    margin-top: 24px;
    margin-bottom: 24px;
}

#events > header {
    margin-left: 12px;
    color: #5a1800;
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

    #events > ul {
        list-style: none;
    }

        #events > ul > li {
            margin-bottom: 6px;
        }

#bestsellers {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 24px;
}

.product-article-more-info {
    font-size: 12px;
    margin-top: 6px;
}

footer {
    clear: both;
    width: 100%;
    margin: 24px 0px 24px;
    padding: 6px;
}

.small-txt {
    font-size: 10px;
}

/* All coffee page style */
